.container{
  max-width: 1400px;
  margin: 0 auto;
  margin-block: 32px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin: 0 auto;
  position: relative;
}

.search{
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  font-family: var(--fontTitle);
  font-size: 24px;
  color: var(--black);
}

.autocomplete-suggestions {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-suggestion {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  gap: 12px;
}

.autocomplete-suggestion:hover {
  background-color: #f0f0f0;
}

.player-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.result{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding-block: 24px;
}

.result h3{
  font-size: 24px;
  font-family: var(--fontTitle);
  color: var(--black);
  letter-spacing: 1px;
}

.result p{
  color: var(--blue);
  font-size: 24px;
  font-family: var(--fontTitle);
  letter-spacing: 1px;
}

.container-items{
  display: flex;
  flex-direction: row;
  max-width: 550px;
  width: 100vh;
  justify-content: space-between;
}

.item-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.item-content{
  background-color: var(--gray);
  width: 170px;
  height: 50px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
