@import '../../app/[lang]/globals.css';


.header{
  width: 100%;
  height: fit-content;
  background-color: var(--blue);
  padding-inline: 24px;
  padding-block: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--fontTitle);
  font-size: 20px;
  color: var(--white);
  letter-spacing: 2px;
  position: sticky; 
}

.header h1{
  cursor: pointer;
  color: var(--white);
}

.menu{
  width: 36px;
  height: 36px;
  color: var(--white);
  cursor: pointer;
}

.config{
  width: 36px;
  height: 36px;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 450px){
  .header{
    font-size: 16px;
  }
}

@media (max-width: 300px){
  .header{
    font-size: 12px;
  }
}
